section form.add-city {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#city-to-add {
    border-radius: 5px;
    height: 40px;
    width: 230px;
    margin: 5px;
}

section form.add-city label {
    font-size: 15px;
    font-weight: bold;
}

section form.add-city button {
    background-color: rgb(0 89 76);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(0 89 76) 1px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

section form.add-city button:hover {
    cursor: pointer;
}

div.mensajes{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

#exito {
    padding: 20px;
    background-color: #28a745;
    border-radius: 20px;
    width: 500px;
    margin-bottom: 15px;
}

#error {
    padding: 20px;
    margin: 2px;
    background-color: #dc3545;
    border-radius: 20px;
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#almacenada {
    padding: 20px;
    margin: 2px;
    background-color: #ffc107;
    border-radius: 20px;
    width: 500px;
    margin-top: 15px;
}