#form-city-list select {
    padding: 5px;
    border-radius: 5px;
}

#form-city-list button{
    background-color: rgb(0 89 76);
    color: white;
    padding: 7px;
    border-radius: 7px;
    border: solid rgb(0 89 76) 1px;
}